<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lane Merge Visualization</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9M86-1yyuucibiNR-wh8kiboANAcUjuI&libraries=visualization" async></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>


   <script>
       var marker_road, marker_merger, marker2_road
  function loadMap() {
    // create the map
    map = new google.maps.Map(document.getElementById("map"), {
        zoom: 19,
        center: {lat: 41.703812, lng: -8.797880},
        //center: {lat: 39.68510168855263, lng: -8.686979090299104},
        mapTypeId: "satellite",
    });
            rsu_road = new google.maps.Marker({
            position: new google.maps.LatLng(41.704018, -8.798036),
            icon: {
                url: 'static/antenna.png',
                scaledSize: new google.maps.Size(80, 80),
            },
            title: "RSU",
            map: map,
        });
            marker_road = new google.maps.Marker({
            position: new google.maps.LatLng(41.703967, -8.797882),
            icon: {
                url: 'static/car.png',
                scaledSize: new google.maps.Size(26, 26),
                anchor: new google.maps.Point(7, 13),
            },
            title: "OBU",
            map: map,
        });
            marker2_road = new google.maps.Marker({
            position: new google.maps.LatLng(41.703771, -8.797723),
            icon: {
                url: 'static/car.png',
                scaledSize: new google.maps.Size(26, 26),
                anchor: new google.maps.Point(7, 13),
            },
            title: "OBU",
            map: map,
        });
            marker_merger = new google.maps.Marker({
            position: new google.maps.LatLng(41.704029, -8.798800),
            icon: {
                url: 'static/car.png',
                scaledSize: new google.maps.Size(26, 26),
                anchor: new google.maps.Point(0, 13),
            },
            title: "OBU",
            map: map,
        });
            const marker3_road = new google.maps.Marker({
            position: new google.maps.LatLng(41.703594, -8.797601),
            icon: {
                url: 'static/car.png',
                scaledSize: new google.maps.Size(26, 26),
                anchor: new google.maps.Point(7, 13),
            },
            title: "OBU",
            map: map,
        });
    } 

    // every 10 seconds
    setInterval(updateMarker,100);

    function updateMarker() {
        $.get('/get_coords',{}, function(json) {
        var LatLng1 = new google.maps.LatLng(json.car1.lat, json.car1.lon);
        var LatLng2 = new google.maps.LatLng(json.car2.lat, json.car2.lon);
        var LatLng3 = new google.maps.LatLng(json.car3.lat, json.car3.lon);
        marker_merger.setPosition(LatLng1);
        marker_road.setPosition(LatLng2);
        marker2_road.setPosition(LatLng3);
    });
}
   </script>

</head>
<body onload="loadMap()">
    <div>
   <h1 style="float: left;">Lane Merge Visualization </h1>
   <img style="float: right;margin-right: 50px; height: 60px;" src="static/ua.png">
   <img style="float: right;margin-right: 50px; height: 60px;" src="static/logo.png">
    </div>
   <div id='map' style='height:820px; width:100%;'></div>
</body>
</html>
