<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lane Merge Visualization</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9M86-1yyuucibiNR-wh8kiboANAcUjuI&libraries=visualization" async></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>


   <script>
       var car_1, car_2, car_merge
  function loadMap() {
    // create the map
    map = new google.maps.Map(document.getElementById("map"), {
        zoom: 19,
        center: {lat: 41.703812, lng: -8.797880},
        //center: {lat: 39.68510168855263, lng: -8.686979090299104},
        mapTypeId: "satellite",
    });
            rsu_road = new google.maps.Marker({
            position: new google.maps.LatLng(41.704018, -8.798036),
            icon: {
                url: 'static/antenna.png',
                scaledSize: new google.maps.Size(80, 80),
            },
            title: "RSU",
            map: map,
        });
            car_1 = new google.maps.Marker({
            position: new google.maps.LatLng(41.704683,-8.79842),
            icon: {
                url: 'static/car.png',
                scaledSize: new google.maps.Size(26, 26),
                anchor: new google.maps.Point(0, 13),
            },
            title: "OBU",
            map: map,
        });
            car_2 = new google.maps.Marker({
            position: new google.maps.LatLng(41.70471,-8.798368),
            icon: {
                url: 'static/car.png',
                scaledSize: new google.maps.Size(26, 26),
                anchor: new google.maps.Point(0, 13),
            },
            title: "OBU",
            map: map,
        });
            car_merge = new google.maps.Marker({
            position: new google.maps.LatLng(41.704013,-8.798942),
            icon: {
                url: 'static/car.png',
                scaledSize: new google.maps.Size(26, 26),
                anchor: new google.maps.Point(0, 13),
            },
            title: "OBU",
            map: map,
        });
    } 

    // every 10 seconds
    setInterval(updateMarker,100);

    function updateMarker() {
        $.get('/get_coords',{}, function(json) {
        var LatLng1 = new google.maps.LatLng(json.car_merge.lat, json.car_merge.lon);
        var LatLng2 = new google.maps.LatLng(json.car_1.lat, json.car_1.lon);
        var LatLng3 = new google.maps.LatLng(json.car_2.lat, json.car_2.lon);
        car_merge.setPosition(LatLng1);
        car_1.setPosition(LatLng2);
        car_2.setPosition(LatLng3);
    });
}
   </script>

</head>
<body onload="loadMap()">
    <div>
   <h1 style="float: left;">Lane Merge Visualization </h1>
   <img style="float: right;margin-right: 50px; height: 60px;" src="static/ua.png">
   <img style="float: right;margin-right: 50px; height: 60px;" src="static/logo.png">
    </div>
   <div id='map' style='height:820px; width:100%;'></div>
</body>
</html>
